---
# Enable C-compatible static analysis and bug prevention check groups
# https://clang.llvm.org/extra/clang-tidy/checks/list.html
Checks: '
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  performance-*,
  portability-*,
  -readability-*,
  -modernize-*,
'

# Do not treat warnings as errors in editor mode by default
WarningsAsErrors: ''

# Check header files inside our source/include directory only
HeaderFilterRegex: 'include/.*|src/.*'
